.home {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border: black 2px solid;
  }
  
  .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2b2727
  }
  
  .item-container p {
    margin: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
  }
  
  .home-container{
    border: springgreen solid 2px;
    margin: 0 auto;
    margin-left: -800px;
  }

  .home-row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .home-image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }